<div class="editorRight">
	Scripting code is standard javascript, along with these components preloaded:
	<br><br> - Our <a href="https://www.rcbenchmark.com/api/rcbgui_v5/" target="_blank"><span style="color:#FF9201; font-weight:bold; font:"><u>rcb</u></span></a> interface
	<br> - The <a href="http://mathjs.org" target="_blank"><span style="color:#FF9201; font-weight:bold; font:"><u>math</u></span></a> library
	<br><br>Scripting is experimental and reference functions may change anytime.
	<br>
	<div>
		<br>
		<p id="scriptFileLabel">Filename:</p>
		<input type="text" id="scriptFileName" name="fname" value="">.js<br>
		<p id="scriptFileSaveStatus"></p>
	</div>
</div>
<pre id="editor"></pre>