<div class="runScript">
	<div class="left">
		</br>
		<div class="notice" i18n="motorsNotice"></div>
		<div class="clear-both"></div>
		<div style="margin-top:25px"><a class="buttons" id="start-button" href="#" i18n="startButton"></a></div>
	</div>
	<div class="right">
		<p style="font-size:small">Console:</p>
		<div id="console">
			<div class="wrapper">
			</div>
			<iframe id="sandboxFrame" src="tabs/autocontrol/sandbox.html" height=0 width=0></iframe>
		</div>
	</div>
</div>