﻿.tab-autocontrol .lowerScriptContent .editorRight {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    width: 170px;
    font-size: small;
}

#editor {
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 170px;
}