#calib-input-input {
	border: 1px solid silver;
    height: 20px;
    width: 108px;
}
#calib-img{
	width: 550px;
	height: auto;
	border-bottom: none;
    display: table;
    margin-left: auto;
    margin-right: auto;        
}
#calibration-instruction {
	width: 100%;
    margin-left: 0px;
    float: right;
    border-bottom: none;
    margin-top: -20px;
}
.calibrateDynNext{
	width: 200px !important;
	margin-left: 10px;
	margin-bottom: 15px;
}
.calibrateDynAbort{
	width: 200px !important;
}
.ui-dialog a.buttons {
    width: calc(100% - 20px);

    margin-top: 10px;
    bottom: 10px;
}
.ui-dialog a.buttons {
    display: block;
    float: left;

    margin: 0 10px 0 0;
    padding: 0 15px 0 15px;

    height: 30px;
    line-height: 28px;
    text-align: center;
    font-weight: bold;

    border: 1px solid silver;
    background-color: #ececec;
}
.ui-dialog a.buttons:hover {
    background-color: #dedcdc;
}
.buttonsDiv{
    margin-top: -20px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}