<div id="burstCurrentDialog" style="display:none">	</div>
<div class="tab-cutoffs">
	<p class="warning">The system will automatically cutoff the throttle when any of these limits are exceeded.</p>
	<table id="limits">
		<tr>
			<th></th>
			<th>Min</th>		
			<th>Max</th>
			<th>System</th>
		</tr>
		<tr>
			<td>Voltage (V)</td>
			<td class="value"><input id="voltageMin" type="number"></td>
			<td class="value"><input id="voltageMax" type="number"></td>
			<td class="value" id="systemVoltage"></td>	
		</tr>
		<tr>
			<td>Continuous Current (A) <img id="cablesWarning" src="images/exclamation.png" title="Do not use supplied 12AWG power cables if going above 40A. Use wires rated for your application. The shorter length, the better." height="15" width="15"></td>
			<td class="value"><input id="currentMin" type="number"></td>
			<td class="value"><input id="currentMax" type="number"></td>
			<td class="value" id="systemCurrent"></td>
		</tr>
        <tr>
			<td>Burst Current (A) <img style="cursor: pointer;" id="burstCurrentPopup" src="images/question.png" alt="burst current popup" height="15" width="15"></td>
			<td class="value"><input id="currentBurstMin" type="number"></td>
			<td class="value"><input id="currentBurstMax" type="number"></td>
			<td class="value" id="systemCurrentBurst"></td>
		</tr>
        <tr>
			<td>Power (W)</td>
			<td class="value"><input id="powerMin" type="number"></td>
			<td class="value"><input id="powerMax" type="number"></td>
			<td class="value" id="systemPower"></td>
		</tr>
		<tr>
			<td id="thrustUnit"></td>
			<td class="value"><input id="thrustMin" type="number" name="thrust"></td>
			<td class="value"><input id="thrustMax" type="number" name="thrust"></td>
			<td class="value" id="systemThrust"></td>
		</tr>
		<tr class="1580">
			<td id="torqueUnit"></td>
			<td class="value"><input id="torqueMin" type="number" name="torque"></td>
			<td class="value"><input id="torqueMax" type="number" name="torque"></td>
			<td class="value" id="systemTorque"></td>
		</tr>
		<tr>
			<td id="motorSpeedUnit"></td>
			<td class="value"><input id="rpmMin" type="number" name="motorSpeed"></td>
			<td class="value"><input id="rpmMax" type="number" name="motorSpeed"></td>
			<td class="value" id="systemRpm"></td>
		</tr>
        <tr class="1580">
			<td>Vibration (g) <img src="images/question.png" title="High vibrations may damage equipment and loosen fasteners. Consider balancing your load instead of increasing the limit." height="15" width="15"></td>
			<td class="value"><input id="vibrationMin" type="number"></td>
			<td class="value"><input id="vibrationMax" type="number"></td>
			<td class="value" id="systemVibration"></td>
		</tr>
        <tr id=cutoffRowTemp1 style="display: none;">
			<td id="temperatureUnit1"></td>
			<td class="value"><input id="temp1Min" type="number" name="temp1"></td>
			<td class="value"><input id="temp1Max" type="number" name="temp1"></td>
			<td class="value" id="systemTemp"></td>
		</tr>
        <tr id=cutoffRowTemp2 style="display: none;">
            <td id="temperatureUnit2"></td>
            <td class="value"><input id="temp2Min" type="number" name="temp2"></td>
            <td class="value"><input id="temp2Max" type="number" name="temp2"></td>
            <td class="value" id="systemTemp"></td>
        </tr>
        <tr id=cutoffRowTemp3 style="display: none;">
			<td id="temperatureUnit3"></td>
			<td class="value"><input id="temp3Min" type="number" name="temp3"></td>
			<td class="value"><input id="temp3Max" type="number" name="temp3"></td>
			<td class="value" id="systemTemp"></td>
		</tr>

	</table>
</div>