/* LAYOUT CSS */
.tab-landing {
    height: 100%;
}
.tab-landing .section {
    clear: both;
}
.tab-landing .header{
	height: 80px;
	text-align: center;
	font-size: 15px;
}
.tab-landing #landing-logo{
	position: relative;
	top: -20px;
	height: auto;
	width: 265px;
    padding-bottom: 6px;
}
.tab-landing p#logo-title{
	position: relative;
	top: -35px;
    font-weight: bold;
}
.tab-landing #landing-left{
	height: 100%;
	width: 50%;
	position: relative;
	float: left;
}
.tab-landing #landing-right{
	height: 100%;
	width: 50%;
	position: relative;
	float: right;
}
.tab-landing .black-line {
	height: 10px;
	width: 95%;
	position: relative;
	top: -5px;
}

/* NEWS SECTION CSS */
#landing-left ul li{
	list-style-type: disc;
    margin-left: -20px;
    margin-bottom: 6px;
    margin-right: 20px;
}

/* APP INFO SECTION CSS */
.tab-landing .app-info-btn {
	margin: 3px;
}

/* COMMENT BOX CSS */
.tab-landing #landing-right-feedback textarea {
	width: 70%;
}

.tab-landing #feedback{
    border: silver 1px solid;
    height: 100px;
    resize: none;
    padding: 5px;
    margin-bottom: 7px;
}