<div class="tab-landing">
    <!--<div class="header">
        <a href="https://store.rcbenchmark.com/" target="_blank">
		  <img id="landing-logo" src="images/light-wide-1.svg" alt="RCbenchmark Logo">
        </a>
		<p id="logo-title">Motor and Propeller Test Tools</p>
	</div>-->
	<div class="clear-both"></div>
    <div id="landing-left">
		<div class="clear-both"></div>
		<div class="section">
			<h4>News and Tips</h4>
			<img class="black-line" src="images/black_line.png">
			<div class="clear-both"></div>
			<ul class="newsSection">
                <li>Loading...</li>
            </ul>
            <br>
			<div class="clear-both"></div>
		</div>
		<div class="clear-both"></div>
		<div class="section">
			<h4>App Information</h4>
			<img class="black-line" src="images/black_line.png">
                <a class="button-std-config app-info-btn" id="credits" href="#" i18n="buttonCredit"></a><br/>
                <a class="button-std-config app-info-btn" id="changeLog" href="#" i18n="buttonChangeLog"></a>
			<div class="clear-both"></div>	
		</div>
		<div class="clear-both"></div>		
	</div>
    
	<div id="landing-right">
		<div class="section" >
            <h4>Tell us something! Anything!</h4>
            <img class="black-line" src="images/black_line.png">
		    <div class="clear-both"></div>
            <div id="landing-right-feedback">
                <textarea id="feedback" placeholder="Question, bugs, comments, ideas? Write your email if want us to reply!"></textarea>
                <div id="landing-right-button" class="button-submit">
                    <a class="submit-feedback button button-std-config" id='submitForm' href="#" i18n="buttonSubmit"></a></div>
                </div>			
            </div>
		</div>
	</div>
    <div id="showDialog" style="display:none">
    </div> 
</div>