.tab-motors .logBar {
	position: relative;
}

.tab-motors ul {
	padding: 0;
}

.tab-motors #logControl {
	position: relative;
	width: 280px;
}
.tab-motors #samplesInfo{
	position: relative;
}
.tab-motors #labelContinousLog {
	position: relative;
    display:inline-block;
    margin-top: 3px;
    margin-bottom: 4px;
}
.tab-motors #loggingTitle {
    margin-bottom: 5px;
    display:inline-block;
    position:relative;
}

.tab-motors .buttons a {
    display: block;
    margin: 0 10px 0 0;
    padding: 0 15px 0 15px;
}

#takeSample{
    float: left;
}
#newLogFile{
    float: right;
}
.tab-motors .left.motors {
    float: left;
    width: 100%;
}
.tab-motors .title {
    padding-bottom: 2px;

    text-align: center;
    font-weight: bold;
}
.tab-motors .titles {
    height: 20px;
}
.tab-motors .titles li {
    float: left;

    width: calc((100% / 9) - 10px);
    margin-right: 10px;
	font-weight: bold;
    text-align: center;
}
.tab-motors .servos .titles li {
    float: right;

    width: calc((100% / 8) - 10px);

    margin: 0 0 0 10px;
}
.tab-motors .titles .active {
    color: green;
}
.tab-motors .warning{
	left: 48%;
	color: red;
	font-weight: bold;
    margin-top: 5px;
}
.tab-motors .m-block {
    float: left;

    width: calc((100% / 9) - 12px);
    height: 100px;

    margin-right: 10px;

    text-align: center;

    border: 1px solid silver;
    background-color: #f4f4f4;
}
.tab-motors .m-block .meter-bar {
    position: relative;

    width: 100%;
    height: 100px;
}
.tab-motors .m-block .label {
    position: absolute;
    width: 100%;
    bottom: 45px;

    text-align: center;
    font-weight: bold;
    color: #474747;
}
.tab-motors .m-block .indicator .label {
    color: white;
}
.tab-motors .servos .m-block {
    float: right;

    width: calc((100% / 8) - 12px);

    margin: 0 0 0 10px;
}
.tab-motors .indicator {
    position: absolute;
    overflow: hidden;

    width: 100%;

    text-align: center;
}
.tab-motors .motor_testing {
    margin-top: 15px;
    margin-left: 20px;
}
.tab-motors .motor_testing .left {
    width: 100%;
}

.tab-motors .motor_testing .sliders input {
    -webkit-appearance: slider-vertical;

    width: calc((100% / 9) - 13px);
    height: 170px;

    margin-left: 10px;
}
.tab-motors .motor_testing .sliders input:first-child {
    margin-left: 0px;
}

.tab-motors .motor_testing .checkboxes input {
    width: calc((100% / 9) - 13px);  
    margin-top: 10px;  
    margin-left: 10px;
}
.tab-motors .motor_testing .checkboxes input:first-child {
    margin-left: 0px;
}


.tab-motors .motor_testing .values {
    margin-top: 5px;
}

.tab-motors .motor_testing .values li:first-child {
    margin-left: 0px;
}

.tab-motors .motor_testing .values li {
    float: left;

    width: calc((100% / 9) - 10px);
    margin-left: 10px;

    text-align: center;
}
.tab-motors .motor_testing .notice {
    width: 90%;

    padding: 5px;

    border: 1px dotted silver;
    
    text-align: justify;
}