<div id="content-watermark"></div>
<div class="tab-motors">
    <div class="clear-both"></div>
    <div class="motor_testing">
        <div class="left">
			<div style="float: right; width: 54%;">	
				<div class="notice" i18n="motorsNotice"></div>
				</br>
				<div class = "logBar">  
					<label id="loggingTitle"><b>Record to CSV file:</b></label>
					<div class="clear-both"></div>
					<div id="logControl">
						<div class="buttons" id="takeSample">
							<a class="logging button button-std-config" id="logButton" href="#">Take Sample</a>
						</div>
                        <!-- <div class="clear-both"></div> -->
						<div class="buttons" id="newLogFile">
							<a class="logging button button-std-config" id="newLog" href="#" >New Log</a>
						</div>
						<div class="clear-both"></div>
						<label id="labelContinousLog"><input type="checkbox" class="logging" id="continousLog">Continuous recording</label>
					</div>
					<label class="logging" id="samplesInfo"></label>
					<!-- <label class="logging" id="path">C:\wwtrstre\dsfd</label> -->
				</div>
				
			</div>
        	<ul class="titles">
	            <li title="ESC">ESC</li>
	            <li title="Servo 1">Servo 1</li>
	            <li title="Servo 2">Servo 2</li>
	            <li title="Servo 3">Servo 3</li>
	            <li title="N/A">5</li>
	            <li title="N/A">6</li>
	            <li title="N/A">7</li>
	            <li title="N/A">8</li>
        	</ul>
            <div class="sliders">
                <input type="range" min="1000" max="2000" value="1000" disabled="disabled" />
                <input type="range" min="1000" max="2000" value="1000" disabled="disabled" />
                <input type="range" min="1000" max="2000" value="1000" disabled="disabled" />
                <input type="range" min="1000" max="2000" value="1000" disabled="disabled" />
                <input type="range" min="1000" max="2000" value="1000" disabled="disabled" />
                <input type="range" min="1000" max="2000" value="1000" disabled="disabled" />
                <input type="range" min="1000" max="2000" value="1000" disabled="disabled" />
                <input type="range" min="1000" max="2000" value="1000" disabled="disabled" />
                <input type="range" min="1000" max="2000" value="1000" disabled="disabled" />
            </div>
            <div class="checkboxes">
                <input type="checkbox"/>
                <input type="checkbox"/>
                <input type="checkbox"/>
                <input type="checkbox"/>
                <input type="checkbox"/>
                <input type="checkbox"/>
                <input type="checkbox"/>
                <input type="checkbox"/>
                <input type="checkbox"/>
            </div>
            <div class="values">
                <ul>
                	<li>1000</li>
                    <li>1000</li>
                    <li>1000</li>
                    <li>1000</li>
                    <li>1000</li>
                    <li>1000</li>
                    <li>1000</li>
                    <li>1000</li>
                    <li>1000</li>
                </ul>
            </div>
            <br>
                <p class="cutoff warning"></p>
        </div>
        <div class="clear-both"></div>
    </div>
</div>
