<div id="content-watermark"></div>
<div class="tab-sensors">
    <div class="info">
		<div id="checkboxWrapper">
			<label id="checkboxTitle"><b>Real-time plots:</b></label>
			<div class="clear-both"></div>
			<div class="checkboxes">
				<!-- list of checkboxes generated here -->        
			</div>
		</div>
		
    </div>
    <div class="plots">
    	<!-- plot definitions generated here -->
    </div>
 
</div>
