.tab-sensors {

}
.tab-sensors .info {
	padding: 10px 10px 0px 0px;
	background-color: white;
    position: absolute;
	top: 0px;
	width: calc(100% - 20px);
}
.tab-sensors .info p {
    padding: 5px;

    border: 1px dashed silver;

    margin-bottom: 10px;
}
.tab-sensors .info input {
    vertical-align: middle;
    margin: 0 5px 0 15px;
}
.tab-sensors .info .first {
    margin: 0 3px 0 0;
}
.tab-sensors #checkboxWrapper {
	width: 50%;
	position: relative;
	float: left;
	top: -5px;
}
.tab-sensors .checkboxes {
	position: relative;
	width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.tab-sensors .plots {
	position: absolute;
	top: 60px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	overflow: auto;
}
.tab-sensors .wrapper {
    display: none;
}
.tab-sensors .plot_control {
    float: right;

    width: 158px;

    /*border: 1px solid silver;*/
}
.tab-sensors .plot_control .title {
    line-height: 20px;
    font-weight: bold;
    text-align: left;
    margin-bottom: -20px;
    margin-top: 20px;
    margin-left: 5px;
    /*border-bottom: 1px solid silver;
    background-color: #ececec;*/
}
.tab-sensors .plot_control dl {
    padding: 5px 5px 0 5px;
    line-height: 22px;
}
.tab-sensors .plot_control dt {
    float: left;
    /*display: inline-block;*/
    /*width: 60px;*/
    height: 22px;
}
.tab-sensors .plot_control dd {
    margin-left: 20px;
    height: 22px;
    display: table-cell;
    height: 17px;
}
.tab-sensors .plot_control select {
    float: right;

    width: 80px;
    border: 1px solid silver;
}
.tab-sensors .logging select {
    float: left;

    width: 80px;
    border: 2px solid black;
}
.tab-sensors .plot_control .x {
    color: #0043E0;
}
.tab-sensors .plot_control .y {
    color: #E80000;
}
.tab-sensors .plot_control .z {
    color: #23BA23;
}
.tab-sensors .plot_control .x, .tab-sensors .plot_control .y, .tab-sensors .plot_control .z {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}
/* SVG classes*/
.tab-sensors svg {
    float: left;

    width: calc(100% - 168px); /* - (plot control, margin)*/
    height: 140px;

    margin-bottom: 10px;
}
.tab-sensors .grid .tick {
    stroke: silver;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.tab-sensors .grid path {
    stroke-width: 0;
}
.tab-sensors .data .line {
    stroke-width: 2px;
    fill: none;
}
.tab-sensors .axis path, .tab-sensors .axis line {
    fill: none;
    stroke: #000000;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}
.tab-sensors .line:nth-child(1) {
    stroke: #0043E0;
}
.tab-sensors .line:nth-child(2) {
    stroke: #E80000;
}
.tab-sensors .line:nth-child(3) {
    stroke: #23BA23;
}
.tab-sensors .line:nth-child(4) {
    stroke: #ff9201;
}
.tab-sensors .legend .item:nth-child(1) {
    fill: #0043E0;
}
.tab-sensors .legend .item:nth-child(2) {
    fill: #E80000;
}
.tab-sensors .legend .item:nth-child(3) {
    fill: #23BA23;
}
.tab-sensors .legend .item:nth-child(4) {
    fill: #ff9201;
}
.tab-sensors .buttons a {
    display: block;
    float: left;

    margin: 0 10px 0 0;
    padding: 0 15px 0 15px;

    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;

    border: 1px solid silver;
    background-color: #ececec;
}
.tab-sensors .buttons a:hover {
    background-color: #dedcdc;
}
.tab-sensors .buttons a.back {
    float: right;
    margin: 0;
}
nav {
    line-height:30px;
    float:left;
    padding:5px;          
}
aside {
    line-height:30px;
    float:none;
    padding:5px;          
}
section {
    width:350px;
    float:left;
    padding:5px;        
}
.unit{    
    font-weight: bold;
    font-style: italic;
}
