<div class="tab-setup">
    <div id="setup-left">
        <div class="clear-both"></div>
        <div class="section">
<!--        Working Units-->
            <h4>Working Units</h4>
            <img class="black-line" src="images/black_line.png">
            <div class="clear-both"></div>
            <table>
                <tr class="1580">
                    <td>
                        <label><b>Torque:</b></label>
                    </td>
                    <td>
                        <select class="dropdown" name="torque"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><b>Thrust:</b></label>
                    </td>
                    <td>
                        <select class="dropdown" name="thrust"></select>
                    </td>
                </tr>
                <tr class="1580">
                    <td>
                        <label><b>Weight:</b></label>
                    </td>
                    <td>
                        <select class="dropdown" name="weight"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><b>Motor speed:</b></label>
                    </td>
                    <td>
                        <select class="dropdown" name="motorSpeed"></select>
                    </td>
                </tr>
                <tr class="1580">
                    <td>
                        <label><b>Temperature:</b></label>
                    </td>
                    <td>
                        <select class="dropdown" name="temperature"></select>
                    </td>
                </tr>
                <tr class="1580">
                    <td>
                        <label><b>Speed</b></label>
                    </td>
                    <td>
                        <select class="dropdown" name="speed"></select>
                    </td>
                </tr>
                <tr class="1580">
                    <td>
                        <label><b>Pressure</b></label>
                    </td>
                    <td>
                        <select class="dropdown" name="pressure"></select>
                    </td>
                </tr>
            </table>
            <div class="clear-both"></div>
        </div>
        <div class="clear-both"></div>
<!--        Firmware Upgrade        -->
        <div class="section">
            <h4>Firmware Upgrade</h4>
            <img class="black-line" src="images/black_line.png">
            <div class="clear-both"></div>
            <div id="setup-firmware-update-button">
                <a class="flash-firmware button button-std-config" href="#" i18n="firmwareFlasherFlashFirmware"></a>
            </div>
            <div class="clear-both"></div>
            <label class="flashResult"></label>
        </div>
        <div class="clear-both"></div>
        <!-- Working directory           -->
                    <div class="section">
                        <h4>Working Directory</h4>
                        <img class="black-line" src="images/black_line.png">
                        <div class="clear-both"></div>
                        <div id="working-directory">
                            <!-- working directory is shown here -->
                        </div>
                        <div id="setup-working-directory-button">
                            <a class="button-directory button-std-config" href="#">...</a>
                        </div>
                    </div>
        <!-- </br> -->
    </div>
    <div id="setup-right">
        
        <div class="section">
<!--            RPM Sensor            -->
            <h4>RPM Sensor</h4>
            <img class="black-line" src="images/black_line.png">
            <div class="clear-both"></div>
                <h4 style="padding-bottom: 4px;">Select main RPM sensor <img style="cursor: pointer;" id="mainRPMInfoButton" src="images/question.png" height="20" width="20">:</h4>
                <div class="clear-both"></div>
                <style type="text/css">
                    .tg  {border-collapse:collapse;border-spacing:0;}
                    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:0px 5px;overflow:hidden;word-break:normal;line-height: 1.3em;}
                    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:0px 5px;overflow:hidden;word-break:normal;}
                    .tg .tg-baqh{text-align:center;vertical-align:top}
                    .tg .tg-yw4l{vertical-align:top}
                </style>
                <table class="tg">
                  <tr>
                    <td class="tg-baqh">&nbsp;&nbsp;<input id="RPMMainButtonElectrical" class="RPMradio" type="radio" value="electrical" name="RPMMainButton">&nbsp;&nbsp;</td>
                    <td class="tg-yw4l">Electrical RPM Sensor<br/>Number of poles:&nbsp;&nbsp;<input class="divider-input" type="number" id="poleInput" min="2" max="100" step="2"></td>
                    <td class="tg-yw4l"><br/><img style="cursor: pointer;" id="poleInfoButton" src="images/question.png" height="20" width="20"></td>
                  </tr>
                  <tr>
                    <td class="tg-baqh">&nbsp;&nbsp;<input id="RPMMainButtonElectrical" class="RPMradio" type="radio" value="optical" name="RPMMainButton">&nbsp;&nbsp;</td>
                    <td class="tg-yw4l">Optical RPM Sensor<br/>Number of tapes:&nbsp;&nbsp;<input class="divider-input" type="number" id="opticalInput" min="1" max="100" step="1"></td>
                    <td class="tg-yw4l"><br/><img style="cursor: pointer;" id="opticalInfoButton" src="images/question.png" height="20" width="20"></td>
                  </tr>
                </table>
            <div id="divisorShowDialog" style="display:none"> </div>
            <div class="clear-both"></div>
            <br>
            <div class="clear-both"></div>
            <div class="section 1580">
                <h4>Temperature Sensors <img style="cursor: pointer;" id="tempInfoButton" src="images/question.png" height="20" width="20"></h4>
                <img class="black-line" src="images/black_line.png">
                <div class="clear-both"></div>
                <label id="no-temp-probes-display">No <a href="https://www.rcbenchmark.com/shop/" target="_blank" style = "text-decoration: underline;">temperature probes</a> detected.</label>
                <label id="temp-probes-display" style="display: none;">
                   Rename temperature sensors<br>
                   (Motor, Lipo, ESC, Ambient, etc...):<br><br>
                    <table>
                    </table>
                </label>
            </div>
            <div id="temperatureShowDialog" style="display:none"> </div>
            <div class="clear-both"></div>
            <div class="section">
                <h4>GUI Settings</h4>
                <img class="black-line" src="images/black_line.png">
                <div class="clear-both"></div>
                <label>
                    <input class="developer_mode" type="checkbox" />
                    <span class="developer_mode" i18n="developerMode"></span>
                </label>
                <div class="clear-both"></div>
                <label>
                    <input class="scripting_mode" type="checkbox" />
                    <span class="scripting_mode" i18n="scriptingMode"></span>
                    <div id="showScriptDialog" style="display:none"> </div>
                </label>
                <div class="clear-both"></div>
                <label>
                    <input class="googleAnalytics" type="checkbox" />
                    <span class=" googleAnalytics" i18n="googleAnalytics"></span>
                </label>
            </div>
        </div>
        <div id="showCalibWizard" style="display:none">
        </div>
    </div>