<div class="tab-utilities">
    <div id="utilities-left">
        <div class="section">
            <h4>Output limits</h4>
            <img class="black-line" src="images/black_line.png">
            <div class="clear-both"></div>
                <div class="ESCCutoff">
                    ESC cutoff value (&micro;s) 
                    <input id="ESCCutoff" type="number">
                </div>
                <table id="limits">
                    <tr>
                        <th></th>
                        <th>Min</th>
                        <th>Max</th>
                    </tr>
                    <tr>
                        <td>ESC (&micro;s)</td>
                        <td class="value">
                            <input id="ESCMin" type="number">
                        </td>
                        <td class="value">
                            <input id="ESCMax" type="number">
                        </td>
                    </tr>
                    <tr>
                        <td>Servo 1 (&micro;s)</td>
                        <td class="value">
                            <input id="servo1Min" type="number">
                        </td>
                        <td class="value">
                            <input id="servo1Max" type="number">
                        </td>
                    </tr>
                    <tr>
                        <td>Servo 2 (&micro;s)</td>
                        <td class="value">
                            <input id="servo2Min" type="number">
                        </td>
                        <td class="value">
                            <input id="servo2Max" type="number">
                        </td>
                    </tr>
                    <tr>
                        <td>Servo 3 (&micro;s)</td>
                        <td class="value">
                            <input id="servo3Min" type="number">
                        </td>
                        <td class="value">
                            <input id="servo3Max" type="number">
                        </td>
                    </tr>
                </table>
                <div class="clear-both"></div>
        </div>
        
        <div class="section" >
            <h4>CSV file notes</h4>
            <img class="black-line" src="images/black_line.png">
		    <div class="clear-both"></div>
            <div id="csv-notes-div">
                <textarea id="csv-notes-text" placeholder="Text written before the header. You may use commas to add columns."></textarea>		
            </div>
		</div>
    </div>
    <div id="utilities-right">
        <div class="section">
            <h4>Calibration</h4>
            <img class="black-line" src="images/black_line.png">
            <div class="clear-both"></div>
            <!-- Thrust calibration -->
            <div id="utilities-calibration-buttons">
                <div id="calibrate-thrust-button" class="buttons">
                    <a class="calibrateDynThrustx calibrate-thrust button button-std-config" href="#" i18n="initialUtilitiesButtonCalibrateDynThrust"></a>
                    <!-- <p i18n="initialutilitiesCalibrateDynText"></p> -->
                </div>
                <div class="clear-both"></div>
                <label class="calibrateDynThrust"></label>
                <div class="clear-both"></div>
                <div class="reverse_chk">
                    <label>
                        <input id="reverse_thrust" type="checkbox" />&nbsp;Reverse thrust sign
                    </label>
                </div>

                <!-- Torque calibration -->
                <div id="calibrate-torque-weight-button" class="buttons 1580">
                    <a class="calibrateDynx calibrate-torque-weight button button-std-config" href="#" i18n="initialUtilitiesButtonCalibrateDyn"></a>
                    <!-- <p i18n="initialutilitiesCalibrateDynText"></p> -->
                </div>
                <div class="clear-both"></div>
                <label class="calibrateDyn 1580"></label>
                <div class="1580 reverse_chk">
                    <label>
                        <input id="reverse_torque" type="checkbox" />&nbsp;Reverse torque sign
                    </label>
                </div>
            </div>
            <div id="pitotShowDialog" style="display:none"> </div>
            <div id="utilities-calibration-airspeed" class="1580">
                Airspeed probe:
                <label id="no-airspeed-probes-display">
                    not  detected.
                    <img style="cursor: pointer;" class="pitotInfoButton" src="images/question.png" height="20" width="20">
                </label>
                
                <label id="airspeed-probes-display" style="display: none;">
                    detected
                    <img style="cursor: pointer;" class="pitotInfoButton" src="images/question.png" height="20" width="20"><br>
                    Current pressure: <value class="airpressure"></value><br>
                    Calibration coefficient 
                    <td class="value">
                        <input id="calibrationCoefficient" type="number" min="0.01" max="2" step="0.005">
                    </td><br>
                    Ambiant pressure (Pa) 
                    <td class="value">
                        <input id="atmPressure" type="number" min="85000" max="106500" step="100">
                    </td><br>
                    <table>
                    </table>
                </label>
            </div>
            <!-- #utilities-calibration-buttons -->
        </div>
        <div class="clear-both"></div>
        <div class="section 1580">
            <h4>Winding Ohmeter</h4>
            <img class="black-line" src="images/black_line.png">
            <div class="clear-both"></div>
            <div id="utilities-read-ohm-button" class="buttons">
                <a class="get-ohm-button button button-std-config" href="#">Read Ohm</a>
                <div class="clear-both"></div>
            </div>
        </div>
    </div>
    <div id="showCalibWizard" style="display:none">
    </div>

</div>