
<div id="poles-popup" title="Number of poles">
    <span class="ui-state-default"><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 0 0;"></span></span>
    <div style="margin-left: 23px;">
        <h3>How the burst current cutoff works?</h3>
        <p>The burst current is designed to allow short duration currents exceeding the continuous current limit.<br><br>For example, if you set a continuous current limit of 40A, and a burst current of 50A, the system can continuously draw 39A without a cutoff triggering.<br><br>
            If however, the current is 45A, the system will eventually cutoff after a certain time, because the current exceeds the continuous limit. The time it takes for the cutoff to trigger depends on how much the current exceeds the continuous limit. A current of 42A will be allowed longer than 48A for the same settings.<br><br>
            The system will cut instantly if the current exceeds the burst current limit. In our example the system will cut right away if the current is over 50A.<br><br>
        </p>
        <h3>Technical details</h3>
        <p>
        The continuous current cutoff acts like a slow fuse. We use a low pass filter with a 20 seconds time constant, allowing the current to go above the continuous current limit for a certain amount of time. The reason for limiting burst current duration is to prevent overheating of our circuit due to the precision shunt resistors power dissipation.<br><br>
            If you want to see this process, you can activate "debug mode" in the "setup" tab. This will add a new plot under the "debug" checkbox, showing you the low pass filtered data. When this plot exceeds the continuous current cutoff limit, the system will cut throttle.<br><br>
            When debug mode is activated, you will also see the low pass filtered value on the left panel, and this signal will also be recorded in the CSV files.
        </p>
    </div>
</div>