<div id="changelog-popup" title="Change Log">
    <span class="ui-state-default"><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 0 0;"></span></span>
    <div style="margin-left: 23px;">
        <span>2016.07.15 - v0.96.6</span>
        <p>
            - The atmospheric pressure for airspeed calculation is user adjustable.<br />
            - Added information to the pressure sensor help section. <br />
            - Fixed pressure unit bug when upgrading from an earlier version.<br />
            <br />
        </p>
        <span>2016.07.08 - v0.96.5</span>
        <p>
            - Now support the RCbenchmark pressure sensor for pitot tubes.<br />
            - Now support negative currents to support generators instead of motors.<br />
            &nbsp &nbsp Do not inverse polarity!<br />
            - Fixed "steps go down" setting not working in the discrete steps script.<br />
            <br />
        </p>
        <span>2016.04.29 - v0.96.4</span>
        <p>
            - Fixed bug where some scripts were not loading on Linux based systems (thanks Rich).<br />
            <br />
        </p>
        
        <span>2016.04.26 - v0.96.3</span>
        <p>
            - Fixed minification process exluding some files (cause script editor syntax highlight problems).<br />
            <br />
        </p>
        
        <span>2016.04.25 - v0.96.2</span>
        <p>
            - Fixed CSV filename timestamp month being off by one month (thanks Damien).<br />
            - Fixed occasional load cell ADC glitch (very rare spike).<br />
            - Firmware 1.14: <br />
            &nbsp;&nbsp;&nbsp;- Improved ADC channel switch timing (fixes rare spike).<br />
            - Firmware 1.13: <br />
            &nbsp;&nbsp;&nbsp;- Supports PCB part swap due to manufacturer shortage.<br />
            <br />
        </p>

        <span>2016.04.11 - v0.96.1</span>
        <p>
            - Hotfix: restored code editor syntax highlighting (thanks Damien).<br />
            <br />
        </p>
        
        <span>2016.04.07 - v0.96.0</span>
        <p>
            - Added ability to add user comments to CSV files (see utilities tab).<br />
            - Torque and thrust sign can now be reversed from GUI.<br />
            - The log files will now display when a cutoff occurs.<br />
            - Fixed empty text in the cutoffs tabs for the temp. probes.<br />
            - Increased max system RPM to 500000eRPM.<br />
            - Fixed bug with efficiency calc being zero/negative in some cases.<br />
            - Fixed plot axis sometimes displaying 0.200000001<br />
            - New script: "90% settling time" for estimating system reaction time.<br />
            - Improved script error reporting and documentation (thanks Damien).<br />
            - Performance improvements (minified code)<br />
            <br />
        </p>
        
        <span>2016.02.25 - v0.95.1</span>
        <p>
            - Fixed bug for "Get Number of Poles" and "Measure KV" scripts freezing.<br />
            <br />
        </p>
        
        <span>2016.02.18 - v0.95.0</span>
        <p>
            - Now supports the Series 1520 product.<br />
            - Updated the discrete step script to allow looping.<br />
            - Added 2 new stock scripts: "Fixed Rate" and "Custom Sequence".<br />
            - Fixed plots scaling bug (efficiency will not scale over 100%).<br />
            - Fixed optical rpm probe reading 3000rpm when idle.<br />
            - Added script function for interative scripts (onKeyboardPress function).<br />
            - Firmware 1.12: <br />
            &nbsp;&nbsp;&nbsp;- Support for Series 1520<br />
            <br />
        </p>
            
        <span>2016.01.14 - v0.94.4</span>
        <p>
            - Added option to change output PWM limits (servo and ESC).<br />
            - Fixed bug with servo 1.<br />
            - Improved calibration wizard error messages.<br />
            - Firmware 1.11: <br />
            &nbsp;&nbsp;&nbsp;- Fixed bug with servo 1.<br />
            <br />
        </p>
        
        <span>2016.01.08 - v0.94.3</span>
        <p>
            - Improved plots color contrast.<br />
            - Left panel text does not fade to grey during automatic test.<br />
            - Tweaked help for RPM sensors.<br />
            <br />
        </p> 
        
        <span>2016.01.07 - v0.94.2</span>
        <p>
            - Fixed sensors glitch caused by temperature probes.<br />
            - Firmware 1.10: <br />
            &nbsp;&nbsp;&nbsp;- Remove onewire temp probe polling (now parallel with other tasks).<br />
            <br />
        </p> 
        
        <span>2015.12.29 - v0.94.1</span>
        <p>
            - Added support for custom load cells through hack codes.<br />
            <br />
        </p> 
        
        <span>2015.12.23 - v0.94.0</span>
        <p>
            - Now supports up to 3 temperature probes simultaneously.<br />
            - Added debug instructions for the optical probes.<br />
            - Firmware 1.9: <br />
            &nbsp;&nbsp;&nbsp;- Added support for temperature probes.<br />
            <br />
        </p> 
        
        <span>2015.12.14 - v0.93.1</span>
        <p>
            - Added pin states to debug mode <br />
            - Firmware 1.8: <br />
            &nbsp;&nbsp;&nbsp;- Added pin states to debug info<br />
            <br />
        </p> 
        <span>2015.12.11 - v0.93.0</span>
        <p>
            - Improved precision of the electrical RPM reading.<br />
            - Added optical RPM probe support.<br />
            - Added hack codes in debug mode.<br />
            - Changed landing page layout and added news.<br />
            - Slightly improved menu look.<br />
            - Firmware 1.7: <br />
            &nbsp;&nbsp;&nbsp;- Reworked rpm probe interrupts to give much smoother results<br />
            &nbsp;&nbsp;&nbsp;- Added support for optical rpm probes<br />
            <br />
        </p>  
        
        <span>2015.11.18 - v0.92.1</span>
        <p>
            - Fixed bug with connect issue when app freshly installed.<br />
            <br />
        </p>
        
        <span>2015.11.13 - v0.92.0</span>
        <p>
            - Added burst current support to 50A<br />
            - Added new safety cutoff for power (in Watts)<br />
            - Added vibration level cutoff (improves safety)<br />
            - Firmware 1.6: <br />
            &nbsp;&nbsp;&nbsp;- Increased power chip shunt scale range<br />
            &nbsp;&nbsp;&nbsp;- Error when power chip saturates (improves safety)<br />
            &nbsp;&nbsp;&nbsp;- Now with vibration level output<br />
            <br />
        </p>
        
        <span>2015.11.09 - v0.91.0</span>
        <p>
            - Removed autoconnect, due to low usage statistics<br />
            - Added firmware flash failure troubleshooting steps<br />
            - Added progress icon while connecting with timeout<br />
            - Added support for writing to raw text files from script<br />
            <br />
        </p>
        
        <span>2015.10.02 - v0.90.1</span>
        <p>
            - Scripting layout improvement<br />
            - GUI is easier to resize<br />
            - Fixed bug in plots scrolling<br />
            <br />
        </p>

        <span>2015.10.01 - v0.90.0</span>
        <p>
            - MAJOR UPDATE:<br />
            - Added automatic scripting (experimental).<br />
            - GUI style improvements.<br />
            - Changed plots color.<br />
            - Tare buttons merged into one.<br />
            - Tare button moved to main page.<br />
            - Firmware 1.5: circuit now reads power from IC.<br />
            - App now displays and records power.<br />
            - App now displays and records efficiency calculations.<br />
            - Bug fixes.<br />
            <br />
        </p>
        <span>2015.09.23 - v0.83.0</span>
        <p>
            - GUI remembers tare values.<br />
            - Improved plots vertical scale.<br />
            - Added feedback box.<br />
            - Firmware synched torque cells update.<br />
            - Changed firmware to 1.4.<br />
            <br />
        </p>
        <span>2015.09.03 - v0.82.0</span>
        <p>
            - Code cleanup.<br />
            - Firmware diagnostic improved.<br />
            - Changed firmware to 1.3.<br />
            <br />
        </p>
        <span>2015.08.22 - v0.81.0</span>
        <p>
            - Spacebar shuts off motors.<br />
            - Bugfixes.<br />
            - GUI layout improvements.<br />
            <br />
        </p>
		<span>2015.08.06 - v0.80.0</span>
        <p>
            - User selectable units.<br />
            - Bugfixes.<br />
            - Added utility tab.<br />
            - GUI layout improvements.<br />
            <br />
        </p>
        <span>2015.07.28 - v0.70.1</span>
        <p>
            - Calibration wizard working.<br />
            - Bugfixes.<br />
            - GUI layout improvements.<br />
            <br />
        </p>
        <span>2015.07.25 - v0.70.0</span>
        <p>
            - First public release.<br />
            - Supports tester tool beta v0.7.<br />
            - Major changes from original fork of the open-source CleanFlight projet v0.63.1.<br />
            - See credits to see a list of collaborators.<br />
            <br />
        </p>
    </div>
</div>