
<div id="poles-popup">
    <span class="ui-state-default"><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 0 0;"></span></span>
    <div style="margin-left: 23px;">
        <h3>Choose the main RPM sensor</h3>
            The main RPM sensor will be the one affecting the cutoffs. The main RPM sensor will be used to calculate measurements derived from the motor speed, such as motor efficiency and overall efficiency. Data for both sensors will be recorded in the log files. 
    </div>
</div>