* {
    margin: 0;
    border: 0;
    list-style: none;
    outline: none;
}
html, body {
    height: 100%;
}
body {
    font-family: "PT Sans", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #303030;
    background-color: silver;
}
a {
    color: #303030;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
input[type=number]::-webkit-inner-spin-button {
    opacity: 1; /* required for chromium 33+ beta */
    margin-left: 5px;
}
.clear-both {
    clear: both;
}
.left {
    float: left;
}
.right {
    float: right;
}
#main-wrapper {
    height: 100%;
}
#left-pane {
	/* border-right: 3px solid #ff9201; */
	float: left;
	width: 300px;
}
#right-pane {
	height: 100%;
	float: right;
	width: calc(100% - 303px);
}
#logo{
	background-color: white;
	height: auto;
	width: 300px;
}
#logo-slogan{
	background-color: #333333;
    text-align: center;
}
#data-pane{
	position: absolute;
	height: inherit;
	top: 240px;
	bottom: 0px;
	padding: 15px 20px 20px 20px;
	background-color: #333333;
	color: white;
	width: 260px;
	overflow: auto;
}
#data-pane .warning{
	color: #ff9201;
}
#hardware{
	position: relative;
	top: 5px;
}
#info{
	position: relative;
	top: 0px;
}


#set-pole-button{
	margin: 0 10px 0 0;
    padding: 0 15px 0 15px;

    height: 16px;
    line-height: 16px;
    text-align: center;
    font-weight: bold;

    border: 1px solid silver;
    background-color: #ececec;
}

#set-pole-button:hover{
	background-color: #dedcdc;
}

.show_plot{
	position: absolute;
	bottom: 250px;
}
span.show_plot{
	left: 40px;
}

#port-picker {
    float: left;

    height: 20px;
    margin-bottom: 5px;
}
#port-picker ul {
    padding: 0;
}
#port-picker li {
    float: left;
}
#port-picker select {
    height: 20px;
    line-height: 20px;

    float: left;
    margin-right: 5px;

    border: 1px solid silver;
}
#port-picker #port {
    width: 120px;
}
#port-picker #baud {
    width: 80px;
}
#port-picker #delay {
    width: 60px;
}
#port-picker a {
    float: left;

    display: block;

    width: 90px;
    height: 18px;
    border: 1px solid silver;

    line-height: 18px;
    text-align: center;
}
#port-picker a.connect {
    margin-right: 10px;

    background-color: #E68301;
    color: white;

    font-weight: bold;
}
#port-picker a.connect:hover {
    text-decoration: none;
    background-color: #FF9201;
}
#port-picker a.connect.active {
    background-color: #7b7b7b;
}
#port-picker a.connect.active:hover {
    background-color: #333333;
}
#port-picker input.auto_connect {
    float: left;

    margin-top: 4px;
}
#port-picker span.auto_connect {
    float: left;
	color: white;
    margin: 3px 0 0 5px;
}

#sensor-status {
    float: right;

    margin-right: 10px;

    height: 22px;
    line-height: 22px;
}
#sensor-status li {
    float: left;

    padding: 0 12px 0 12px;

    height: 18px;
    line-height: 18px;

    color: white;
    text-align: center;

    border: 1px solid #c0c0c0;
    border-right: 0;

    background-color: #e32424;
}
#sensor-status li:last-child {
    border-right: 1px solid #c0c0c0;
}
#sensor-status .on {
    background-color: #b8cf02;
}

#header-wrapper {
}
#documentation-controls {
    float: right;
    height: 22px;
    line-height: 22px;
    margin-right: 10px;
}

#button-documentation {
    float: left;

    padding: 0 12px 0 12px;

    height: 18px;
    line-height: 18px;

    background-color: #ffcb18;
    color: #000;
    font-weight: bold;
    border: solid 1px #c0c0c0;
    display: none;
}
#options {
    float: right;

    width: 20px;
    height: 20px;

    background-image: url('./images/ic_settings_24px.svg');
    background-position: -1px -1px;
    background-repeat: no-repeat;

    opacity: 0.6;
}
#options:hover {
    opacity: 0.7;
}
#options.active {
    opacity: 0.7;
}
#options.active:hover {
    opacity: 0.85;
}
#options-window {
    display: none;
    position: fixed;

    right: 30px;
    top: 15px;

    padding: 5px;

    line-height: 20px;

    border: 1px solid silver;
    background-color: white;
}
#options-window input {
    float: left;

    margin-top: 3px;
    margin-right: 5px;
}
#tabs {
	text-align: center;
	width: inherit;
    position: absolute;
	background-color: white;

    z-index: 10;
}

#tabs ul {
    overflow: hidden;  /*Cause the height to expand to contain its floated contents */
    padding: 0;
}

#tabs ul.tab-disconnected li a {
	pointer-events: none;
	cursor: default;
	opacity: 0.5;
}
#tabs ul li.tab-disconnected a {
	pointer-events: none;
	cursor: default;
	opacity: 0.5;
}
.plot-disconnected {
	pointer-events: none;
	opacity: 0.5;
}

.ui-block {
	pointer-events: none;
	opacity: 0.5;
}

#tabs li {
	width: 100%;
    float: left;

    border-bottom: 1px solid #848484;
}

#tabs li a {
	color: white;
    display: block;

    height: 15px;

    padding: 5px 4px;

    background-color: #333333;
}
#tabs li a:hover {
    text-decoration: none;
    background-color: black;
}
#tabs li.active {
}
#tabs li.active a {
    height: 16px;

    background-color: #ff9201;
}
#tabs li.active a:hover {
    cursor: default;
    background-color: #ff9201;
}
#resize-bar{
	background-color: #ff9201;
	height: 4px;
	text-align: center;
	color: black;
}
#resize-bar:hover{
	cursor: row-resize;
}
/*to resize plots area: change value in #content and #plot height*/
#content {
    padding: 10px;  
    height: 345px;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transform: rotateX(0deg); /* DO NOT REMOVE! this fixes the UI freezing bug on MAC OS X */
}
#plot {
    padding: 10px;
    height: 290px;
    background-color: white;
    /* overflow-x: hidden; */
    /* overflow-y: auto; */
    -webkit-transform: rotateX(0deg);/* DO NOT REMOVE! this fixes the UI freezing bug on MAC OS X */
}

#data .cutoff {
	color: #ff9201;
}
#status-bar {
    position: fixed;

    bottom: 0px;

    width: calc(100% - 20px);
    height: 20px;
    line-height: 20px;

    padding: 0 10px 0 10px;

    border-top: 1px solid #7d7d79;
    background-color: #bfbeb5;
}
#status-bar div {
    float: left;

    padding-right: 10px;
    margin-right: 10px;

    border-right: 1px solid #7d7d79;
}
#status-bar .version {
    float: right;

    margin: 0;
    padding: 0;
    border: 0;
}
#cache {
    display: none;
}
.data-loading {
    width: 100%;
    height: 100%;

    background-image: url('../images/loading-bars.svg');
    background-repeat: no-repeat;
    background-position: center 45%;
}
.data-loading p {
    position: relative;
    top: calc(45% + 45px);

    text-align: center;
    font-weight: bold;
}

#left-pane-tare-button {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	//position: relative;
	margin-top: .4em;
	margin-bottom: 1em;
	//padding: 0 15px 0 15px;
}
#left-pane-tare-button a {
	
	
	background-color: #7b7b7b;
	color: white;
	
	//position: relative;
   display: block;
   //margin: 0 10px 0 10px;
	//margin-top: 10px;
	//margin-bottom: 10px;
   //padding: 0 15px 0 15px;

    //height: 20px;
    //line-height: 20px;
    text-align: center;
    font-weight: bold;

    border: 1px solid silver;
	 //border: 2px solid #ff6666;
    //background-color: #ececec;
}

#left-pane-tare-button a.back {
	float: right;
    margin: 0;
}

#left-pane-tare-airspeed-button {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	//position: relative;
	margin-top: .4em;
	margin-bottom: 1em;
	//padding: 0 15px 0 15px;
}
#left-pane-tare-airspeed-button a {
	
	
	background-color: #7b7b7b;
	color: white;
	
	//position: relative;
   display: block;
   //margin: 0 10px 0 10px;
	//margin-top: 10px;
	//margin-bottom: 10px;
   //padding: 0 15px 0 15px;

    //height: 20px;
    //line-height: 20px;
    text-align: center;
    font-weight: bold;

    border: 1px solid silver;
	 //border: 2px solid #ff6666;
    //background-color: #ececec;
}

#left-pane-tare-airspeed-button a.back {
	float: right;
    margin: 0;
}
