
<div id="poles-popup">
    <span class="ui-state-default"><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 0 0;"></span></span>
    <div style="margin-left: 23px;">
        <h2>How to determine the number of brushless motor poles?</h2>
        </br>
        <h3>Why?</h3>
		<p>
            This App needs to know how many poles your motor has in order to correctly calculate the rotation speed. If you set a wrong number of poles, your RPM reading, motor efficiency, and motor power calculations will be wrong. Read below for simple methods to count the number of poles on your motor. <br><br><strong>Important:</strong> using our convention, the number of poles is always a pair number.<br><br>
        </p>
		</br>
        <h3>Brushless outrunners</h3>
        </br>
        <div  style='margin-right: auto; margin-left: auto;text-align: center'>
            <figure>
              <img src="images/motorod.jpg" alt="Fig. 1: Picture of an outrunner's number of poles.">
              <figcaption><small>Fig. 1: Outrunner with 10 magnets and 12 stator arms. Correct number of poles is 10.</small></figcaption>
            </figure>
        </div>
        </br>        
<p>
            A simple method to obtain the number of motor poles is to count the total number of magnets, which is equal to the motor pole count. For outrunner motors, this can be done without opening the motor if you can see through the housing. For example, the motor shown in Fig.1 has 10 magnets, which means it has 10 poles. <br><br>
        </p>
        <h3>Brushless inrunners</h3>
        <p>
            Most inrunners have two poles. There are some exceptions however, so if unsure, see section below. 
        </p>
        </br>
        <h3>General Methods</h3>
        <p>
            For some motors, it is not possible to directly count the number of motor poles. For example, if the rotor's magnet is a single continuous ring, or if disassembly poses problems. If you are unsure of the number of motor poles, there are a number of simple methods you can use:</br></br>
        </p>            
<h4>Experimentally</h4>
<p><br>Run the motor at full throttle with no load (no propeller). The KV value calculated as KV&nbsp;=&nbsp;RPM/Volts can be compared with the advertised KV value. Adjust the number of poles until your calculation is close to the advertised value. To help you, we created an automatic script to do just that! Here are the steps:<br><br>
<strong>1)</strong> Open the script called "Get Number of Poles" from the "Automatic Control" Tab</br>
<strong>2)</strong> Clone this script so it can be modified</br>
</br>
<div  style='margin-right: auto; margin-left: auto;text-align: center'>
    <img src="images/polesScript.png">
</div>
</br> 
<strong>3)</strong> Change the KV_manufacturer variable to the KV value advertised by the manufacturer (in this example, we used a 800KV motor).</br>
<strong>4)</strong> Press "Run" to start the script engine</br>
</br>
<div  style='margin-right: auto; margin-left: auto;text-align: center'>
    <img src="images/polesScript2.png">
</div>
</br> 
<strong>5)</strong> Press "Start". <br><strong>Warning:</strong> the motor will spin at full throttle. Make sure it has no propeller installed!</br>
<strong>6)</strong> The script prints the results in the console.</br>
</br>
<div  style='margin-right: auto; margin-left: auto;text-align: center'>
    <img src="images/polesScript3.png">
</div>
</br> 
</p>
<h4>Online</h4>
<p>
Ask the manufacturer, or search online for that motor pole count. <a href="http://www.rcgroups.com/forums/showthread.php?t=1105695" target="_blank" style = "text-decoration: underline;">This link</a> is a forum discussion about motor poles.</br></br>
</p>
<h4>Screwdriver</h4>
<p>
Open the motor, and slide a screwdriver around the rotor. Count the number of times the screwdriver locks at different positions around the rotor. This is the number of poles.</br></br>
</p>

        <h3>Theory</h3>
        <p>
            The RPM sensor works by analyzing the signal fed into the "rpm probe" pin, which is connected to one of the three brushless phases. This signal consists of a sine wave with each cycle corresponding to the crossing of a motor pole. Knowing the frequency of that sine wave, and dividing by the number of poles for your specific motor, you will obtain the rotation frequency in Hz. This frequency can then be converted to RPM by multiplying by 60. 
        </p>
    </div>
</div>