
<div id="poles-popup">
    <span class="ui-state-default"><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 0 0;"></span></span>
    <div style="margin-left: 23px;">
        <h2>How to install and use the optical RPM sensor?</h2>
        </br>
        <h3>Why?</h3>
        <p>
            The electrical RPM sensor included with your dynamometer is very easy to use and to install. However, it will not work with brushed motors. In that case, you may use the <a href="https://www.rcbenchmark.com/product/optical-rpm-probe/" target="_blank" style = "text-decoration: underline;">RCbenchmark optical RPM probe</a>.
        </p>
        </br>
        <h3>Installation</h3>
        </br>
        <div style='margin-right: auto; margin-left: auto;text-align: center'>
            <figure>
                <img src="images/optical_sensor_installation.png" alt="Fig. 1: Example of optical probe installation.">
                <figcaption><small>Fig. 1: Example of optical probe installation</small></figcaption>
            </figure>
        </div>
        </br>
        <p>
            Connect the sensor in the "Servo 1" plug. The black wire is connected to the negative pin. Place a white piece of tape on the rotating part of the motor or on the propeller. Install the optical sensor so that it is at a distance less than 5mm of the tape. The face of the sensor opposite to the wire should face the tape. Refer to Figure 1 for an example installation. You may use a piece of stiff wire to help hold the probe in place. If your motor is made of reflective metal, cover any part that will face the optical sensor with black tape to prevent false readings. 
        </br><br>
        <h3>Number of divisors</h3>
            If you are using multiple pieces of tape on the rotor, ensure they are equally spaced, and set the number of divisors per turn in the "Setup" tab. The number of tapes per turn acts as a divisor of the speed value. If you have just one piece of tape (black-white in one turn), set the number of divisors to 1. If you have 2 tapes (black-white-black-white in one turn) set the divisor to 2.
        </p>
        </br>
        <h3>Power</h3>
            The probe must be powered by 5V. The pinout of the probe is:<br>
            <ul>
              <li>Black - Ground</li>
              <li>Red - 5V input</li>
              <li>White - RPM signal output</li>
            </ul>
            </br>A simple method to power the probe is to use your ESC's built-in voltage regulator (most ESC's have this). If your ESC is connected to the ESC plug, the power should reach your optical probe. If your ESC does not have a voltage regulator (opto ESCs) you may need to add a BEC connected to "Servo 2" or "Servo 3".
        </p></br>
<h3>Troubleshooting</h3>
        <p>
            If your probe does not seem to work, check the following:<br></br>
            <ul>      
              <li>1) You can test the probe by monitoring the Servo1 pin state (1=5V or 0=0V). Activate debug mode in the setup tab to view pin states.</br></br></li>
              <li>2) Ensure the probe is powered from your ESC's 5V BEC. The RCbenchmark board does not power the probe.</br></br></li>
              <li>3) Using the above Servo1 pin state, ensure that white/reflective portions show as 1, and black/non-reflective portions show as 0.</br></br></li>
              <li>4) Make sure the Servo1 output is not active in the Manual Control Tab</li>
            </ul>
        </p>
        </br>
    </div>
</div>