<div id="temperature-popup">
    <span class="ui-state-default"><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 0 0;"></span></span>
    <div style="margin-left: 23px;">
        <h2>How to install and use the pressure sensor with a pitot tube</h2>
        </br>
        <h3>Where to buy?</h3>
        </br>
        <p>
            The <a href="https://www.rcbenchmark.com/product/rcbenchmark-airspeed-probe/"  target="_blank" style = "text-decoration: underline;">RCbenchmark airspeed probe</a> is designed to be used with the Series 1580. It is a precision differential pressure sensor fully integrated with the RCbenchmark software. The sensor is intended to be used with a pitot tube to measure the airspeed in a wind tunnel, or to measure the airspeed behind the propeller. Only one pressure probe can be connected to the Series 1580.
        </p>
        </br>
        <h3>Theory</h3>
        </br>
        <p>
            The sensor measures the pressure difference "dP" between the static pressure inlet and the dynamic pressure inlet of the pitot tube. The wind speed is calculated with the formula SQRT(|2*dP/rho|) where rho is the air density. The air density is calculated with the ambiant pressure and temperature, and by assuming dry air. The temperature is measured by the pressure sensor, and the ambiant pressure is supplied by the user in the utilities tab. By default, the ambiant pressure is set to 101.325 kPa.
        </p>
        </br>
        <h3>Measurement noise level and pressure measurement</h3>
        </br>
        The aispeed is displayed in the GUI and in the log file when the sensor is connected. You need to restart the app for changes to appear. The airspeed is proportionnal to the square root of the pressure. The sensor has a peak to peak noise of around 1 Pa. This means that at 0 m/s, the noise will be &plusmn; 1 m/s. At 20 m/s, the same 1 Pa noise creates a noise of 0.02 m/s. 
        </br></br>
        <h3>Installation</h3>
        </br>
        <p>
        <ul>      
              <li>1) Connect the pressure sensor to one of the "Addons port" of the Series 1580 measurement circuit.</br></br></li>
              <li>2) Connect both included tubes to the probes' measurement inlets.</br></br></li>
              <li>3) Connect one tube to your pitot tube's static pressure inlet and connect the other tube to the dynamic pressure inlet. The order of connection is not important.</br></br></li>
              <li>4) Restart the app.</br></br></li>
            </ul>     
        </p>
        </br>
        <h3>Calibration</h3>
        <p></br>
        When the air is at rest before a test, you should press the "Tare Airspeed" button that appears under the "Tare load cells" button on the left of the interface.
        </br></br>
        Our tests show that the sensor has an accuracy of 1% FS when tared but not calibrated. Although not necessary for most applications, you can also calibrate your sensor.
        </br></br>
        If you are calibrating your sensor, first select the displayed unit of pressure as mm of H20 or as in. of H2O in the "Setup tab". Then go to the "Utilies" tab and connect the sensor as shown below. The blue parts of drawing are water. You can use a large cup to contain the water. The distance "d" should be precisely measured. We recommend using a "d" of around 50 cm, but not more than 70 cm.
        </p>
        </br>
        <div style='margin-right: auto; margin-left: auto;text-align: center'>
            <figure>
                <img width="500px" src="images/pressure_probe_doc_1.svg">
                <figcaption><small>Fig. 1: Calibration procedure.</small></figcaption>
            </figure>
        </div>
        <p>
        To calibrate the sensor: 
        </br>
        <ul>      
              <li>1) Place the water container with the tube on the lower surface as shown in Fig. 1. </br></br></li>
              <li>2) Press the "Tare airspeed" button.</br></br></li>
              <li>3) Place the water container on the higher surface. The distance d should be about 50 cm (20 inches) to minimize errors.</br></br></li>
              <li>4) Adjust the calibration coefficient until the pressure value matches the height difference "d".</br></br></li>
        </ul>     
        </p>

        
        
    </div>
</div>