﻿<div id="script-popup" title="Script mode warning">
    <span class="ui-state-default"><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 0 0;"></span></span>
    <div style="margin-left: 23px;">
        <h4><span style="color:red"><strong>Warning:</strong></span> activating scripting mode is dangerous. Make sure you understand the implications, and understand that the motors may start spinning at full throttle any time. The scripting functionality is experimental and may have bugs. Use at your own risk.</h4>
    	<h3><br>Do you really want to activate scripting mode?<br><br><br></h3>
	    <div id="buttons-script-warning">
			<div class="buttons">
		        <a class="yes-button" href="#">Yes</a>
		    </div>
		    <div class="buttons">
		        <a class="no-button" style="float:right" href="#">No</a>
		    </div>
	    </div>
	</div>
</div>