﻿div#buttons-script-warning .buttons {
    width: calc(100% - 20px);
    /*margin-top: 10px;*/
    bottom: 10px;
}
div#buttons-script-warning .buttons a {
    display: block;
    float: left;
    padding: 0 15px 0 15px;

    height: 23px;
    width: 35px;
    line-height: 23px;
    text-align: center;
    /*font-weight: bold;*/

    border: 1px solid silver;
    background-color: #ececec;
}
div#buttons-script-warning .buttons a:hover {
    background-color: #dedcdc;
}
div#buttons-script-warning {
  width: 270px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}