
<div id="temperature-popup">
    <span class="ui-state-default"><span class="ui-icon ui-icon-info" style="float:left; margin:0 7px 0 0;"></span></span>
    <div style="margin-left: 23px;">
        <h2>How to install and use the temperature probes</h2>
        </br>
        <h3>Where to buy?</h3>
        <p>
            Compatible temperature probes can be purchased <a href="https://www.rcbenchmark.com/product/temperature-probe/" target="_blank" style = "text-decoration: underline;">here</a>.
        </p>
        </br>
        <h3>Installation</h3>
        </br>
        <div style='margin-right: auto; margin-left: auto;text-align: center'>
            <figure>
                <img src="images/temp_probe_plug.JPG" alt="Fig. 1: Plug temp probe.">
                <figcaption><small>Fig. 1: Insert the temperature probe in one of the "Temp. Probes" plugs.</small></figcaption>
            </figure>
        </div>
        </br>
        <p>
        <ul>      
              <li>1) Connect the probe to the circuit as shown in Fig. 1.</br></br></li>
              <li>2) Restart USB connnection.</br></br></li>
              <li>3) Rename probes to match your application in the "Setup" tab.</br></br></li>
            </ul>     
        </p></br>
<h3>Notes about heat transfer</h3>
<p></br>
The temperature is sampled at the middle of the temperature probe. The sampled temperature may be much lower than the actual temperature of the device you want to protect. Keep this in mind when setting the cutoff temperature limits. For example, if you want to protect your ESC, you will want to limit the junction (die) temperature, inside the FET's body. Since it can't be measured direclty, you will need to set a lower temperature limit. See Figures below for examples:
</p></br>
<div style='margin-right: auto; margin-left: auto;text-align: center'>
            <figure>
                <img src="images/esc_temperature.JPG">
                <figcaption><small>Fig. 2: Temperature probe installed on ESC.</small></figcaption>
            </figure>
        </div></br>
<div style='margin-right: auto; margin-left: auto;text-align: center'>
            <figure>
                <img src="images/heat_transfer.png">
                <figcaption><small>Fig. 3: Example temperature distribution (ballpark figures only).</small></figcaption>
            </figure>
        </div></br>
<div style='margin-right: auto; margin-left: auto;text-align: center'>
            <figure>
                <img src="images/glued_probe.png">
                <figcaption><small>Fig. 4: Example solution: glue probe's sensor as close as possible to the heat source. Use appropriate adhesive that can withstand the temperature.</small></figcaption>
            </figure>
        </div></br>
<div style='margin-right: auto; margin-left: auto;text-align: center'>
            <figure>
                <img src="images/probe_motor.JPG">
                <figcaption><small>Fig. 5: Example probe touching motor coils. Rotor removed for clarity.</small></figcaption>
            </figure>
        </div>
</br>
Applying a temperature probe is a case by case consideration. We recommend carefully cutting away the outer heatshrink layer on our probes, and permanently attaching the probe as close as possible to the heat source. Our software will remember the name you assign to a probe, so you can consider probes as sacrificial elements that you leave on the motor, esc, lipo, etc... Contact us if you need advise or have special layout considerations.
        </br></br>
<h3>Troubleshooting</h3>
        <p></br>
            If your probe does not seem to work, check the following:<br></br>
            <ul>      
              <li>1) Ensure the connector is firmly pressed into the board.</br></br></li>
              <li>2) Available probes are scanned by the circuit upon power-up. Disconnect and reconnect the USB.</br></br></li>
              <li>3) A probe's default name is a serial number (eg. 4H7C). Make sure you have assigned a proper name to your probe in the Setup Tab.</br></br></li>
            </ul>
        </p>
    </div>
</div>